<a href="https://colab.research.google.com/github/DiyaBansal0325/training-python/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Simple Print Statements

In [ ]:
print("hello world",end="-")
print("hello diya")

hello world-hello diya

In [ ]:
print("hello world",end="$")
print("hello diya")
print("user welcome")

hello world$hello diya
user welcome

#Variable Declaration

In [ ]:
x=10
print( type(x) )

<class 'int'>

In [ ]:
x="10"
print( type(x) )

<class 'str'>

In [ ]:
x='10'
print( type(x) )

<class 'str'>

In [ ]:
year = 2025
company = "regex software"
print("My year is",year,"Company name is => ",company)

My year is 2025 Company name is =>  regex software

#String Formatting => string readable format

In [ ]:
year = 2025
company = "regex software"
print( f"My year is {year} Company name is => {company}")

My year is 2025 Company name is => regex software

#Multi line string

In [ ]:
address = """B-35 Gopalpura Tonk Road
Jaipur Rajasthan 302018"""
print(address)

B-35 Gopalpura Tonk Road
Jaipur Rajasthan 302018

In [ ]:
# single line comment
'''
 multiline comment
'''

In [ ]:
#variables, datatypes, string formatting
year = 2025
company = "regex software"
output = f"My year is {year} Company name is => {company}"
print(output)

My year is 2025 Company name is => regex software

In [ ]:
username = "Diya"
msg = f"Happy Birthday {username}"
print(msg)
username = "Isha"
print(msg)

Happy Birthday Diya
Happy Birthday Diya

#Operators

In [ ]:
#Basic idea on operator
#arithmetic
# = - * %
# normal division => float ans
10/2

5.0

In [ ]:
10//2    #float division => int ans

5

In [ ]:
# float is a larger datatype
5.0 + 2

7.0

In [ ]:
10%3

1

In [ ]:
2**3
#2*2*2

8

In [ ]:
4**3
#4*4*4

64

In [ ]:
20+2*3/3-1

21.0

In [ ]:
10*2-3**2

11

In [ ]:
# Comparision Operator => True/False
# >, <, >=, <=, !=, ==
10>2

True

In [ ]:
#logical operators -> and or not
10>2 and 10>5

True

#If-Else Statements

In [ ]:
a = 4
if(a>5):
  print("Hey")
else:
  print("condition is false")

condition is false

In [ ]:
a = 4
if(a>5 or a>2):
  print("Hey")
else:
  print("condition is false")

Hey

In [ ]:
a = 4
if(a>5 or a>2):
  print("Hey")
elif(a==10):
  print("value of a is 10")
else:
  print("condition is false")

Hey

In [ ]:
#take 3 variables and find the smallest number
a=10
b=5
c=2
if(a<b and a<c):
  print("a is minimum")
elif(b<a and b<c):
  print("b is minimum")
else:
  print("c is minimum")

c is minimum

In [ ]:
#take a variable age and if age is >18 print adult if age >25 print married anf if >45 print citizen anf otherwise print child
age = 30
if(age > 45):
  print("Citizen")
elif(age > 25):
  print("Married")
elif(age > 18):
  print("Adult")
else:
  print("Child")

Married

In [ ]:
#Nested if-else
num=12
if(num%2==0):

  if(num%5==0):
    print("number is even and divided by 5")
  else:
    print("number is only even",num)
else:
  print("Number is odd",num)

number is only even 12

#string slicing and indexing

In [ ]:
city = "RAJASTHAN"
print( city[2] )
print(city[-3])

J
H

In [ ]:
#slicing => extracting some portion of your data
#[ start : stop : [step=1(by default)] ]

In [ ]:
city = "RAJASTHAN"
print( city[0:4])         #ending values are excluded

RAJA

In [ ]:
city = "RAJASTHAN"
print( city[1:5])

AJAS

In [ ]:
city = "RAJASTHAN"
print( city[2:])

JASTHAN

In [ ]:
city = "RAJASTHAN"
print( city[:4])

RAJA

In [ ]:
city = "RAJASTHAN"
print( city[0:4])

RAJA

In [ ]:
city = "RAJASTHAN"
print( city[0:4:1])

RAJA

In [ ]:
city = "RAJASTHAN"
print( city[0:4:2])

RJ

In [ ]:
city = "RAJASTHAN"
print( city[1:6:1])

AJAST

In [ ]:
city = "RAJASTHAN"
print( city[1:6:2])

AAT

In [ ]:
city = "RAJASTHAN"
print( city[0:5:3])

RA

In [ ]:
city = "RAJASTHAN"
print( city[0:5:10])

R

In [ ]:
city = "RAJASTHAN"
print( city[0:5:-1])

In [ ]:
city = "RAJASTHAN"
print( city[-1:-4])

In [ ]:
city = "RAJASTHAN"
print( city[-1:-4:-1])

NAH

#learning assignments:

In [ ]:

#Membership operators => operators which checks whether an object is member in a sequence
#identity operators => operators which compare two objects whether they are of same data type and share same memory location
#Bitwise ANd operator => Results 1 if both the bits compare are having bit 1, if not than results 0
#Bitwise OR operator => Results 1 if any one bit of both bits compared has 1, if both bit has 0 than results 0
#String Indexing => Revise
#If-else

#If-else Assignments

In [ ]:
#Q1
num = int(input("Enter a number to check even or odd:"))
if(num%2 == 0):
  print("number is even")
else:
  print("number is odd")

Enter a number to check even or odd:77
number is odd

In [ ]:
#Q2
a = int(input("Enter First number:"))
b = int(input("Enter Second number:"))
c = int(input("Enter Third number:"))
if(a>b and a>c):
  print("a is largest")
elif(b>a and b>c):
  print("b is largest")
else:
  print("c is largest")

Enter First number:55
Enter Second number:20
Enter Third number:11
a is largest

In [ ]:
#Q3
year = int(input("Enter the year to check for leap year:"))
if(year%4==0 or year%400==0):
  print("year is leap year")
else:
  print("year is not a leap year")

Enter the year to check for leap year:2005
year is not a leap year

In [ ]:
#Q4
res = int(input("Enter the marks in % :"))
if(res >= 90):
  print("Grade A")
elif(res >= 80):
  print("Grade B")
elif(res >= 70):
  print("Grade c")
elif(res >= 60):
  print("Grade D")
else:
  print("Grade F")

Enter the % marks:55
Grade F

In [ ]:
#Q5
ltr = input("Enter any letter to check it's a vowel or not:")
if(ltr in ('a','e','i','o','u')):
  print("Entered letter is vowel",ltr)
else:
  print("Entered letter is consonant")

Enter any letter to check it's a vowel or not:k
Entered letter is consonant

In [ ]:
#Q6
num1 = float(input("Enter the first number: "))
operator = input("Enter an operator (+, -, *, /): ")
num2 = float(input("Enter the second number: "))
if operator == '+':
    result = num1 + num2
elif operator == '-':
    result = num1 - num2
elif operator == '*':
    result = num1 * num2
elif operator == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Division by zero"
else:
    result = "Invalid operator"
print("Result:", result)

Enter the first number: 20
Enter an operator (+, -, *, /): /
Enter the second number: 0
Result: Error: Division by zero

In [ ]:
#Q7
num = int(input("Enter a number:"))
if(num>0):
  print("Number is positive")
elif(num<0):
  print("Number is negative")
else:
  print("Number is zero")

Enter a number:-98597
Number is negative

In [ ]:
#Swapping 2 variables using a third temperorary variable
a = 20
b = 40
print(a)
print(b)
temp = a
a = b
b = temp
print(a)
print(b)

20
40
40
20

In [ ]:
#Swapping two variables without using any third temperary variable
a = 20
b = 40
print(a)
print(b)
a = a+b
b = a-b
a = a-b
print(a)
print(b)

20
40
40
20