<a href="https://colab.research.google.com/github/DiyaBansal0325/training-python/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loops - For Loop

In [ ]:
for i in range(2,8):
  print(i)

2
3
4
5
6
7

In [ ]:
for i in range(8,2,-1):
  print(i)

8
7
6
5
4
3

In [ ]:
#to get the sum of first 10 natural numbers
total = 0
for i in range(1,11):
  total = total + i
  print(i,total)
print(total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
55

In [ ]:
count = 0
for i in range(80,56,-1):
  count = count + 1
  print(i,count)
print(count)

80 1
79 2
78 3
77 4
76 5
75 6
74 7
73 8
72 9
71 10
70 11
69 12
68 13
67 14
66 15
65 16
64 17
63 18
62 19
61 20
60 21
59 22
58 23
57 24
24

In [ ]:
# Take range 20 - 55 and print those numbers which are divisible by 2 and 6
for i in range(20,55):
  if(i%2 == 0 and i%6 == 0):
    print(i,"Divided by 2 and 6")

24 Divided by 2 and 6
30 Divided by 2 and 6
36 Divided by 2 and 6
42 Divided by 2 and 6
48 Divided by 2 and 6
54 Divided by 2 and 6

In [ ]:
#run a loop to find factors of 10
num = 10
for i in range(1,11):
  if(num%i == 0):
    print("factor is",i)

factor is 1
factor is 2
factor is 5
factor is 10

In [ ]:
num = 45
count = 0
for i in range(1,46):
  if(num%i == 0):
    print("Factors are:",i)
    count = count +1
print("Total factors are:",count)

Factors are: 1
Factors are: 3
Factors are: 5
Factors are: 9
Factors are: 15
Factors are: 45
Total factors are: 6

In [ ]:
num = 14
count = 0
for i in range(1,num+1):
  if(num%i == 0):
    count = count +1
if(count>2):
  print("Not a prime number",num)
else:
  print("Prime number",num)
print("Total factors are:",count)

Not a prime number 14
Total factors are: 4

In [ ]:
for i in range(1,9):
  if(i==4):
    break
  print(i)
print("--outside--")

1
2
3
--outside--

In [ ]:
for i in range(1,9):
  if(i==4):
    continue
  print(i)

1
2
3
5
6
7
8

In [ ]:
#for loop is used when we lnow the number of iteration
#while loop is used when we have no idea of number of iteration