<a href="https://colab.research.google.com/github/DiyaBansal0325/training-python/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuples

In [ ]:
mytuple = (10,20,30,"abc",10)
mytuple.count(10)    #count the occurrance of an element
mytuple.index("abc")  #return the index value

3

#Patterns

In [ ]:
for i in range (1,4):
  print("Student",i)
  for j in range(1,6):
    print("Sub:" , j, end=" ")
  print("")
  print("#### TEA BREAK ####")

Student 1
Sub: 1 Sub: 2 Sub: 3 Sub: 4 Sub: 5
#### TEA BREAK ####
Student 2
Sub: 1 Sub: 2 Sub: 3 Sub: 4 Sub: 5
#### TEA BREAK ####
Student 3
Sub: 1 Sub: 2 Sub: 3 Sub: 4 Sub: 5
#### TEA BREAK ####

In [ ]:
for i in range (1,4):
  print("Student",i)
  for j in range(1,5-i):
    print("Sub:" , j, end=" ")
  print("")

Student 1
Sub: 1 Sub: 2 Sub: 3
Student 2
Sub: 1 Sub: 2
Student 3
Sub: 1

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print("*", end = " ")
  print("")

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*", end = " ")
  print("")

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,6-i):
    print("*", end = " ")
  print("")

* * * *
* * *
* *
*

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(j, end = " ")
  print("")

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(i, end = " ")
  print("")

1 1 1
2 2 2
3 3 3

In [ ]:
for i in range(4,9):
  for j in range(i+2,i+6):
    print(i, end = " ")
  print("")

4 4 4 4
5 5 5 5
6 6 6 6
7 7 7 7
8 8 8 8

In [ ]:
for i in range(4,8):
  for j in range(4,8):
    print(j, end = " ")
  print("")

4 5 6 7
4 5 6 7
4 5 6 7
4 5 6 7

In [ ]:
k = 0
for i in range(0,3):
  for j in range(k+1,k+5):
    print(j, end = " ")
  k+=4
  print("")

1 2 3 4
5 6 7 8
9 10 11 12

In [ ]:
for i in range(1,4):
  for j in range(1,2):
    print("ABC", end = " ")
  print("")

ABC
ABC
ABC

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*", end = " ")
  print("")

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j, end = " ")
  print("")

1
1 2
1 2 3
1 2 3 4

In [ ]:
for i in range(4,8):
  for j in range(4,i+1):
    print(j, end = " ")
  print("")

4
4 5
4 5 6
4 5 6 7

In [ ]:
k = 0
for i in range(1,5):
  for j in range(i,k+2):
    print(j, end = " ")
  k+=2
  print("")

1
2 3
3 4 5
4 5 6 7

In [ ]:
k = 1
for i in range(1,5):
  for j in range(1,i+1):
    print(k, end = " ")
    k+=1
  print("")

1
2 3
4 5 6
7 8 9 10

In [ ]:
for i in range(1,5):
  for j in range(1,5-i):
    print("-",end=" ")
  print("")

- - -
- -
-

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*", end = " ")
  print("")

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,5-i):
    print("-",end=" ")
  for j in range(1,i+1):
    print("*", end = " ")
  print("")

- - - *
- - * *
- * * *
* * * *

In [ ]:
for i in range(1,6):
  for j in range(1,i):
    print("-",end=" ")
  for j in range(1,7-i):
    print("*", end = " ")
  print("")

* * * * *
- * * * *
- - * * *
- - - * *
- - - - *

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):

    if((i+j)%2==0):
      print("1",end=" ")
    else:
      print("0",end=" ")
  print("")

1
0 1
1 0 1
0 1 0 1

In [ ]:
asci_value = 65
for i in range(1,5):
  for j in range(1,i+1):
    print(chr(asci_value),end=" ")
    asci_value += 1
  print("")

A
B C
D E F
G H I J

#Pattern Assignment

In [ ]:
#Q1
for i in range(1,5):
  for j in range(1,i):
    print(" ",end=" ")
  for j in range(1,5):
    print("*", end = " ")
  print("")

* * * *
  * * * *
    * * * *
      * * * *

In [ ]:
#Q5
asci_value = 68
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(asci_value + j),end=" ")
  asci_value -= 1
  print("")

E
D E
C D E
B C D E
A B C D E

In [ ]:
#Q8 a)
for i in range(1,6):
  for j in range(1,7-i):
    print(" ",end=" ")
  for j in range(1,6):
    print("*", end = " ")
  print("")

          * * * * *
        * * * * *
      * * * * *
    * * * * *
  * * * * *

In [ ]:
#Q8 b)
n = 64
for i in range(1,6):
  for j in range(1,7-i):
    print(" ",end=" ")
  for j in range(1,6):
    print(chr(n + j), end = " ")
  print("")

          A B C D E
        A B C D E
      A B C D E
    A B C D E
  A B C D E

In [ ]:
#Q10
for i in range(1, 5):
  for j in range(1, 8):
    if (j == (4 - i) + 1 or j == (4 + i) - 1 or i == 4):
      print("*", end="")
    else:
      print(" ", end="")
  print()

   *
  * *
 *   *
*******

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end=" ")
  print("")

*
* *
* * *
* * * *

In [ ]:
for a in range(1,4):
  for k in range(1,5-a):
    print("*",end=" ")
  print("")

* * *
* *
*

In [ ]:
#Q12
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end=" ")
  print("")
for a in range(1,4):
  for k in range(1,5-a):
    print("*",end=" ")
  print("")

*
* *
* * *
* * * *
* * *
* *
*