<a href="https://colab.research.google.com/github/DiyaBansal0325/training-python/blob/main/Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionary

In [ ]:
#dictionary => datatype
#Value stores in key-value pair
#key => unique identifier
#value : unique / duplicate
#It is mutuable
#no index position

In [ ]:
mydict = {10:"Diya",20:"Kinsh"}
print(mydict[10])

Diya

In [ ]:
mydict = {10:"Diya",20:"Kinsh"}
mydict[10] = "Rishab"  #update value
print(mydict)
mydict["amount"] = 1000   #inset the key-value
print(mydict)
mydict.pop(20)    #delete using pop function and key name
print(mydict)

{10: 'Rishab', 20: 'Kinsh'}
{10: 'Rishab', 20: 'Kinsh', 'amount': 1000}
{10: 'Rishab', 'amount': 1000}

In [ ]:
print( help(mydict))

SyntaxError: incomplete input (<ipython-input-45-d389a53d0954>, line 1)

In [ ]:
mydict.keys()    #to access only keys

dict_keys([10, 'amount'])

In [ ]:
mydict.values()    #to access only values

dict_values(['Rishab', 1000])

In [ ]:
data="hello"
count = 0
for char in data:
  count+= 1
mydict = {"total":count}
print(mydict)

{'total': 5}

In [ ]:
data = "user"
mydictionary = {}
for char in data:
  mydictionary[char] = 1
print(mydictionary)

{'u': 1, 's': 1, 'e': 1, 'r': 1}

In [ ]:
data = "hey isha"
mydict = {}
for char in data:
  if char in "aeiou":
    mydict[char] = 1
print(mydict)

{'e': 1, 'i': 1, 'a': 1}

In [ ]:
mydict={"amount":15}
mydict["amount"] = mydict["amount"]+200
print(mydict)

{'amount': 215}

In [ ]:
data = "hey ishaeea"
mydict = {}
for char in data:
  if char in "aeiou":
    if char not in mydict:
      mydict[char] = 1
    else:
      mydict[char] = mydict[char] + 1
print(mydict)

{'e': 3, 'i': 1, 'a': 2}

#list Comprehension => way to write list in simple shorter manner

In [ ]:
newlist = []
for i in [10,20,30,40]:
  newlist.append(i+5)
print(newlist)

[15, 25, 35, 45]

In [ ]:
[ i+5 for i in [10,20,30,40]]

[15, 25, 35, 45]

#Dictionary comprehension => way to write dictionary in simple shorter manner

In [ ]:
{ char:1 for char in "hey"}

{'h': 1, 'e': 1, 'y': 1}

#Functions

In [ ]:
#function => set of statement => to perform tasks
#It help in code reusability

In [ ]:
a = 100    #global variable
def test():
  z = 19   #local variable
  print("hello",z,a)

In [ ]:
test()
test()
print(a)

hello 19 100
hello 19 100
100

In [ ]:
def msg( username ):  #parameters
  print("hey user", username)
msg("Diya")   #arguement
msg("Kinshuk")

hey user Diya
hey user Kinshuk

In [ ]:
def totalsum(num):
  total = 0
  for i in range(1,num+1):
    total = total + i
  print(f"Sum of {num} is =>",total)

In [ ]:
totalsum(10)
totalsum(5)

Sum of 10 is => 55
Sum of 5 is => 15

In [ ]:
# num = 4
def Pattern(num):
  for i in range(1,num+1):
    for j in range(1,i):
      print("-",end=" ")
    for j in range(1,(num +2)-i):
      print(j,end=" ")
    print("")

In [ ]:
Pattern(4)

1 2 3 4
- 1 2 3
- - 1 2
- - - 1

In [ ]:
Pattern(5)

1 2 3 4 5
- 1 2 3 4
- - 1 2 3
- - - 1 2
- - - - 1

In [ ]:
#Write a function to get LCM of 2 numbers
#Write a function to check whether a number is a armstrong or not
#Write a function to check whether a number is a palindrome or not NOTE: don't typecast number into string

In [ ]:
#LCM
def Lcm(a,b):
  if(a>b):
    grater = a
  else:
    greater = b
  while(True):
    if(greater%a==0 and greater%b==0):
      print("Greater is the LCM =>",greater)
      break
    else:
      greater+=1

In [ ]:
Lcm(2,8)

Greater is the LCM => 8

In [ ]:
Lcm(2,5)

Greater is the LCM => 10

In [ ]:
Lcm(3,7)

Greater is the LCM => 21

In [ ]:
#Armstrong taking number as a string
def is_armstrong(num):
  num_st = str(num)
  num_length = len(num_st)
  total = 0
  for i in num_st:
    total += int(i) ** num_length
  if(total == num):
    print("It is an armstrong number")
  else:
    print("Not an armstrong number")

In [ ]:
is_armstrong(153)

It is an armstrong number

In [ ]:
is_armstrong(531)

Not an armstrong number

In [ ]:
is_armstrong(371)

It is an armstrong number

In [ ]:
#Armstrong Without typecasting number into string
def armstrg(num):
  a = num
  num_length = 0
  temp = num
  while(temp > 0):
    num_length += 1
    temp //= 10
  sop = 0
  while num > 0:
    digit = num % 10
    sop += digit ** num_length
    num //= 10
  if(a == sop):
    print("Number is an armstrong")
  else:
    print("Number is not an armstrong")

In [ ]:
armstrg(153)

Number is an armstrong

In [ ]:
armstrg(513)

Number is not an armstrong

In [ ]:
armstrg(371)

Number is an armstrong

In [ ]:
#function => passing values in more ways
def func(a,b):
  print("a =>",a,"b =>",b)

In [ ]:
#position arguement
func(10,20)
func(20,10)

a => 10 b => 20
a => 20 b => 10

In [ ]:
#keyword arguement => which variable will have which value
func(b=20,a=10)

a => 10 b => 20

In [ ]:
#First class function
def funct():
  print("Hello")
x = funct
funct()
x()

Hello
Hello

In [ ]:
#first class function v/s high order function